<table>
   <tbody>
       {{#each builds}}
       <tr>
         <td>{{CPU_part_id}}</td>
         <td>{{CPU_cooler_part_id}}</td>
         <td>{{Motherboard_part_id}}</td>
         <td>{{RAM_part_id}}</td>
         <td>{{Storage_part_id}}</td>
         <td>{{GPU_part_id}}</td>
         <td>{{PSU_part_id}}</td>
         <td>{{Case_part_id}}</td>
      </tr>
      {{/each}}
   </tbody>
</table>


